/**
*
* Base styling
*
**/
//background css-------  

.bg-grey{
  background-color: #f0f4f4;
}
.bg-white{
  background-color: #fff;
}
.bg-black{
  background-color: $brand_color;
}
.bg-light-black{
  background-color: #292929;
}
.bg-white{
  background-color: #fff;
}


